In [2]:
# libraries - from Kaggle basics
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

In [9]:
#load data
train = pd.read_csv("/Users/ebrooks/Documents/thesis/project/py-wids/py-wids/data/train.csv")
print(train.info())
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27674 entries, 0 to 27673
Data columns (total 83 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   patient_id                             27674 non-null  int64
 1   patient_race                           12522 non-null  object
 2   payer_type                             24838 non-null  object
 3   patient_state                          27595 non-null  object
 4   patient_zip3                           27674 non-null  int64
 5   patient_age                            27674 non-null  int64
 6   patient_gender                         27674 non-null  object
 7   bmi                                    8749 non-null   float64
 8   breast_cancer_diagnosis_code           27674 non-null  object
 9   breast_cancer_diagnosis_desc           27674 non-null  object
 10  breast_cancer_diagnosis_year           27674 non-null  int64
 11  metastatic_cancer_diagnosis_code       27674 non-null  object
 12  metastatic_first_treatment             27674 non-null  object
 13  metastatic_first_treatment_type        16650 non-null  object
 14  metastatic_first_novel_treatment       233 non-null    object
 15  metastatic_first_novel_treatment_type  233 non-null    object
 16  region                                 27451 non-null  object
 17  division                               27451 non-null  object
 18  population                             27674 non-null  int64
 19  density                                27674 non-null  float64
 20  age_median                             27674 non-null  float64
 21  age_under_10                           27674 non-null  float64
 22  age_10_to_19                           27674 non-null  float64
 23  age_20s                                27674 non-null  float64
 24  age_30s                                27674 non-null  float64
 25  age_40s                                27674 non-null  float64
 26  age_50s                                27674 non-null  float64
 27  age_60s                                27674 non-null  float64
 28  age_70s                                27674 non-null  float64
 29  age_over_80                            27674 non-null  float64
 30  male                                   27674 non-null  float64
 31  female                                 27674 non-null  float64
 32  married                                27674 non-null  float64
 33  divorced                               27674 non-null  float64
 34  never_married                          27674 non-null  float64
 35  widowed                                27674 non-null  float64
 36  family_size                            27671 non-null  float64
 37  family_dual_income                     27671 non-null  float64
 38  income_household_median                27671 non-null  float64
 39  income_household_under_5               27671 non-null  float64
 40  income_household_5_to_10               27671 non-null  float64
 41  income_household_10_to_15              27671 non-null  float64
 42  income_household_15_to_20              27671 non-null  float64
 43  income_household_20_to_25              27671 non-null  float64
 44  income_household_25_to_35              27671 non-null  float64
 45  income_household_35_to_50              27671 non-null  float64
 46  income_household_50_to_75              27671 non-null  float64
 47  income_household_75_to_100             27671 non-null  float64
 48  income_household_100_to_150            27671 non-null  float64
 49  income_household_150_over              27671 non-null  float64
 50  income_household_six_figure            27671 non-null  float64
 51  income_individual_median               27674 non-null  float64
 52  home_ownership                         27671 non-null  float64
 53  housing_units                          27674 non-null  float64
 54  home_value                             27671 non-null  float64
 55  rent_median                            27671 non-null  float64
 56  rent_burden                            27671 non-null  float64
 57  education_less_highschool              27674 non-null  float64
 58  education_highschool                   27674 non-null  float64
 59  education_some_college                 27674 non-null  float64
 60  education_bachelors                    27674 non-null  float64
 61  education_graduate                     27674 non-null  float64
 62  education_college_or_above             27674 non-null  float64
 63  education_stem_degree                  27674 non-null  float64
 64  labor_force_participation              27674 non-null  float64
 65  unemployment_rate                      27674 non-null  float64
 66  self_employed                          25482 non-null  float64
 67  farmer                                 25482 non-null  float64
 68  race_white                             27674 non-null  float64
 69  race_black                             27674 non-null  float64
 70  race_asian                             27674 non-null  float64
 71  race_native                            27674 non-null  float64
 72  race_pacific                           27674 non-null  float64
 73  race_other                             27674 non-null  float64
 74  race_multiple                          27674 non-null  float64
 75  hispanic                               27674 non-null  float64
 76  disabled                               27674 non-null  float64
 77  poverty                                27671 non-null  float64
 78  limited_english                        27671 non-null  float64
 79  commute_time                           27674 non-null  float64
 80  health_uninsured                       27674 non-null  float64
 81  veteran                                27674 non-null  float64
 82  treatment_pd                           27674 non-null  int64
dtypes: float64(64), int64(6), object(13)
memory usage: 17.5+ MB
None

,patient_id,patient_race,payer_type,patient_state,patient_zip3,patient_age,patient_gender,bmi,breast_cancer_diagnosis_code,breast_cancer_diagnosis_desc,...,race_other,race_multiple,hispanic,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,treatment_pd
0,994155,Asian,COMMERCIAL,CA,917,46,F,27.0,C50811,Malignant neoplasm of ovrlp sites of right fem...,...,18.858696,11.426087,47.726087,9.895652,10.515217,12.745652,32.530435,7.263043,3.810870,35
1,154389,NaN,MEDICARE ADVANTAGE,OH,451,63,F,NaN,C50412,Malig neoplasm of upper-outer quadrant of left...,...,0.255319,2.234043,1.182979,18.317021,13.546809,0.146809,31.890909,7.631915,9.631915,33
2,387343,NaN,COMMERCIAL,TX,773,53,F,NaN,C50212,Malig neoplasm of upper-inner quadrant of left...,...,3.588679,7.915094,21.064151,14.083019,11.943396,2.549057,32.556250,16.396226,10.392453,24
3,921275,Hispanic,MEDICAID,CA,928,50,F,NaN,1749,"Malignant neoplasm of breast (female), unspeci...",...,11.645455,10.081818,37.948485,8.957576,10.109091,8.057576,30.606061,7.018182,4.103030,455
4,803454,NaN,COMMERCIAL,NY,112,39,F,18.0,1749,"Malignant neoplasm of breast (female), unspeci...",...,9.184211,6.089474,18.960526,10.194737,18.642105,14.173684,42.502632,6.392105,1.755263,162

In [32]:
#Y = train["treatment_pd"] #label
#X = train.drop(columns = "treatment_pd", axis = 1)
#X_train, y_train, X_test, y_test = train_test_split(X, y, test_size = 0.30, random_state = 1234)

In [33]:
# checking for missing values
missingValues = train.isnull().sum()
missingValues.sort_values(ascending=False)

metastatic_first_novel_treatment         27441
metastatic_first_novel_treatment_type    27441
bmi                                      18925
patient_race                             15152
metastatic_first_treatment_type          11024
payer_type                                2836
self_employed                             2192
farmer                                    2192
region                                     223
division                                   223
patient_state                               79
income_household_under_5                     3
income_household_5_to_10                     3
income_household_15_to_20                    3
family_dual_income                           3
income_household_20_to_25                    3
income_household_median                      3
income_household_10_to_15                    3
rent_burden                                  3
income_household_25_to_35                    3
income_household_35_to_50                    3
income_household_50_to_75                    3
income_household_75_to_100                   3
income_household_100_to_150                  3
income_household_150_over                    3
income_household_six_figure                  3
rent_median                                  3
family_size                                  3
home_ownership                               3
limited_english                              3
poverty                                      3
home_value                                   3
education_college_or_above                   0
race_pacific                                 0
veteran                                      0
health_uninsured                             0
commute_time                                 0
disabled                                     0
hispanic                                     0
race_multiple                                0
race_other                                   0
race_native                                  0
education_graduate                           0
race_asian                                   0
race_black                                   0
race_white                                   0
labor_force_participation                    0
education_stem_degree                        0
education_less_highschool                    0
education_highschool                         0
education_some_college                       0
education_bachelors                          0
unemployment_rate                            0
patient_id                                   0
housing_units                                0
age_10_to_19                                 0
patient_zip3                                 0
patient_age                                  0
patient_gender                               0
breast_cancer_diagnosis_code                 0
breast_cancer_diagnosis_desc                 0
breast_cancer_diagnosis_year                 0
metastatic_cancer_diagnosis_code             0
metastatic_first_treatment                   0
population                                   0
density                                      0
age_median                                   0
age_under_10                                 0
age_20s                                      0
income_individual_median                     0
age_30s                                      0
age_40s                                      0
age_50s                                      0
age_60s                                      0
age_70s                                      0
age_over_80                                  0
male                                         0
female                                       0
married                                      0
divorced                                     0
never_married                                0
widowed                                      0
treatment_pd                                 0
dtype: int64

In [34]:
train.describe()

,patient_id,patient_zip3,patient_age,bmi,breast_cancer_diagnosis_year,population,density,age_median,age_under_10,age_10_to_19,...,race_other,race_multiple,hispanic,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,treatment_pd
count,27674.000000,27674.000000,27674.000000,8749.000000,27674.000000,27674.000000,27674.000000,27674.000000,27674.000000,27674.000000,...,27674.000000,27674.000000,27674.000000,27674.000000,27671.000000,27671.000000,27674.000000,27674.000000,27674.000000,27674.000000
mean,549586.828612,522.024752,54.456421,29.277804,2016.486449,19919.850799,1655.023291,40.674047,11.117255,12.883595,...,5.352033,6.473921,17.862817,13.432810,13.324371,4.603184,28.061654,8.573778,7.079766,134.218472
std,260306.291181,292.405178,11.202089,5.636923,1.058602,13465.788962,3639.259482,4.026393,1.535440,1.880894,...,5.955250,3.539440,17.513898,3.801799,5.724183,6.595424,4.893231,4.306563,3.098581,187.759654
min,100051.000000,6.000000,19.000000,14.000000,2015.000000,636.000000,0.821739,20.600000,0.000000,6.314286,...,0.002564,0.433333,0.060714,4.600000,3.433333,0.000000,12.460784,1.165385,1.200000,0.000000
25%,323742.250000,294.000000,47.000000,25.000000,2016.000000,9080.000000,169.322727,37.734426,10.149254,11.788406,...,1.307353,3.892593,4.608824,10.270492,9.341176,0.980851,24.968182,5.497143,4.972222,36.000000
50%,549720.000000,490.000000,55.000000,28.820000,2016.000000,18355.000000,627.904167,40.761765,11.022034,12.923944,...,3.355556,5.578689,11.588889,13.069492,12.122857,2.636000,27.814286,7.441772,6.882222,70.000000
75%,775422.250000,784.000000,62.000000,33.000000,2017.000000,27796.000000,1555.107692,43.175862,12.194737,13.930435,...,7.630000,8.663889,24.485185,15.611765,16.408333,5.958333,30.918519,10.685417,8.678846,133.000000
max,999996.000000,999.000000,91.000000,97.000000,2018.000000,71374.000000,29851.685710,57.417647,17.675000,35.300000,...,33.188889,26.429870,99.104348,35.155556,48.931818,74.067391,48.020000,29.565000,25.200000,1455.000000

In [36]:
train.columns

Index(['patient_id', 'patient_race', 'payer_type', 'patient_state',
       'patient_zip3', 'patient_age', 'patient_gender', 'bmi',
       'breast_cancer_diagnosis_code', 'breast_cancer_diagnosis_desc',
       'breast_cancer_diagnosis_year', 'metastatic_cancer_diagnosis_code',
       'metastatic_first_treatment', 'metastatic_first_treatment_type',
       'metastatic_first_novel_treatment',
       'metastatic_first_novel_treatment_type', 'region', 'division',
       'population', 'density', 'age_median', 'age_under_10', 'age_10_to_19',
       'age_20s', 'age_30s', 'age_40s', 'age_50s', 'age_60s', 'age_70s',
       'age_over_80', 'male', 'female', 'married', 'divorced', 'never_married',
       'widowed', 'family_size', 'family_dual_income',
       'income_household_median', 'income_household_under_5',
       'income_household_5_to_10', 'income_household_10_to_15',
       'income_household_15_to_20', 'income_household_20_to_25',
       'income_household_25_to_35', 'income_household_35_to_50',
       'income_household_50_to_75', 'income_household_75_to_100',
       'income_household_100_to_150', 'income_household_150_over',
       'income_household_six_figure', 'income_individual_median',
       'home_ownership', 'housing_units', 'home_value', 'rent_median',
       'rent_burden', 'education_less_highschool', 'education_highschool',
       'education_some_college', 'education_bachelors', 'education_graduate',
       'education_college_or_above', 'education_stem_degree',
       'labor_force_participation', 'unemployment_rate', 'self_employed',
       'farmer', 'race_white', 'race_black', 'race_asian', 'race_native',
       'race_pacific', 'race_other', 'race_multiple', 'hispanic', 'disabled',
       'poverty', 'limited_english', 'commute_time', 'health_uninsured',
       'veteran', 'treatment_pd'],
      dtype='object')